name: R Package Build and Deploy to GitHub Packages

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up R
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: '4.4.0'

      - name: Set up Pandoc
        uses: r-lib/actions/setup-pandoc@v2

      # Installs system requirements automatically and resolves R deps via pak
      - name: Install R package dependencies (incl. devtools)
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: |
            any::devtools
            local::.
          needs: check

      # R CMD check (uses installed deps)
      - name: Check
        uses: r-lib/actions/check-r-package@v2
        with:
          args: 'c("--no-manual","--as-cran")'

      # Build tarball and upload artifact
      - name: Build package
        run: |
          mkdir -p dist
          Rscript -e 'devtools::build(path = "dist")'
          ls -l dist
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: PSPI_package
          path: dist/*.tar.gz
